body {
    background-color: rgb(224, 224, 224);
}

button:hover {
    cursor: pointer;
}

/* Styling for the Login at the top of the page*/
.auth-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #4c8bf5;
    height: 80px;
    margin: 0;
}

.applicantList-body {
    font-size: 1.5rem;
}

.b-input {
    border-color: #4c8bf5;
    border-radius: 10px;
    border-style: solid;
    border-width: 2.5px;
    font-size: 0.7rem;
    margin: 5px;
    margin-top: 15px;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    transition: border-color 0.5s ease;
}

.b-input:focus {
    border-color: rgb(212, 174, 239);
}

.b-signIn {
    background-color: #c1c1c1;
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 25.25px 5px 25.25px 5px;
    padding: 7px 10px;
    transition: box-shadow 0.2s;
    display: flex-end;
}

.b-signIn:hover {
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*Styling for the job postings page*/

/*buttons*/
.j-input {
    border-color: #4c8bf5;
    border-radius: 10px;
    border-style: solid;
    border-width: 2.5px;
    font-size: 1 rem;
    margin: 5px;
    outline: none;
    padding: 7px 20px;
    text-align: center;
    transition: border-color 0.5s ease;
}

.j-input:focus {
    border-color: rgb(212, 174, 239);
}

.j-button {
    background-color: #4c8bf5;
    border: none;
    border-radius: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 10px;
    padding: 7px 14px;
    transition: box-shadow 0.2s;
    color: white;
}
.j-button:hover{
    box-shadow: 0 8px 16px 0 rgba(66, 89, 202, 0.2),
    0 6px 20px 0 rgba(66, 89, 202, 0.19);
    background-color: #487dd8;
}


.j-button-applied {
    background-color: #c1c1c1;
    border: none;
    border-radius: 40px;
    color:#494949;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 10px;
    padding: 7px 14px;
    transition: box-shadow 0.2s;
}

.update-button {
    background-color: #c1c1c1;
    border-color: #4c8bf5;
    border-radius: 10px;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 10px;
    padding: 7px 14px;
    transition: 0.2s;
}

.update-button:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2),
        0 5px 15px 0 rgba(0, 0, 0, 0.19);
        background-color: #adadad;
}

/* Div of job postings (individual)*/
.div-post {
    background-color: white;
    border: 2px solid rgb(112, 112, 112);
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 50%;
    /*
    makes the div overflow onto one another
    width: -moz-fit-contents;
    width: fit-content;
    */
}

.div-posts {
    /* backgroud color used for testing in case
    div-psots displays incorrectly
    */
    /*
    background-color:rgb(145, 86, 86);
    */
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    /*
     makes the div overflow onto one another
    width: -moz-fit-contents;
    width: fit-content;
    */
}

.job-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Select tag modified*/
.select-jobpost {
    border: 2.5px #4c8bf5 solid;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #c1c1c1;
    margin: 5px;
    padding: 7px 20px;
}

.search-bar {
    position: center;
    background-color: white;
    border: 2px solid rgb(112, 112, 112);
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
    width: 50%;
  }

/*checkbox*/
.coop-check {
    cursor: pointer;
    height: 20px;
    width: 20px;
}


/* Checkbox in navbar - radio buttons*/
.userSet{
    display:relative;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* browser default override */
.userSet input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.userSet:hover input ~ .userCheck{
    background-color: #a1b9e2;
}

.userSet input:checked ~ .userCheck{
    background-color: #b078e3;
}

.userCheck{
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
    top:0;
    left: 0;
    height: 18px;
    position:absolute;
    width: 18px;
}

/*indicator*/
.userCheck:after{
    content: "";
    position: absolute;
    display: none;
}

.userSet input:checked ~ .userCheck:after{
    display: block;
}

.userSet .userCheck:after{
    background: white;
    top: 6.5px;
    left: 6.5px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.action-button {
    width: "justify-content";
    background-color: #4c8bf5;
    border: none;
    border-radius: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 600;
    transition: box-shadow 0.2s;
    color: white;
    padding: 4px 7px;
}
.action-button:hover{
    box-shadow: 0 8px 16px 0 rgba(66, 89, 202, 0.2),
    0 6px 20px 0 rgba(66, 89, 202, 0.19);
    background-color: #487dd8;
}

.admin-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}