.profileBtn{
  background-color: #c1c1c1;
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 5px;
    padding: 7px 10px;
    transition: box-shadow 0.2s;
    
    
}


.profileBtn:hover{
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


.modalBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}


.modalContainer {
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 550px;
  width: 600px;
  border-radius: 8px;
  padding: 25px;
}


.modalContainer .title {
  display: inline-block;
  font-family: 'Sora', sans-serif;
  margin-bottom: -10px;  
}


.xBtn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin: -10px;
}


.textBox{
  border-radius: 6px;
  border: 2px solid #ccc;
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: 35px;
  width: 550px;
  display: flex;
  justify-content: left;
  font-family: 'Sora', sans-serif;
}


.educationLabel{
  display: flex;
  justify-content: left;
  font-family: 'Sora', sans-serif;
  margin-bottom: 10px; 
}


#education {
  font-size: 16px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #444;
  display: flex;
  justify-content: left;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  margin-bottom: 35px;
}


.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -10px;
}


.modalContainer .body {
  font-size: 1.5rem;
}


.resumeTitle{
  margin-top: 25px;
  margin-bottom: 10px;
  width: 550px;
  display: flex;
  justify-content: left;
  font-family: 'Sora', sans-serif;
}


#resume{
  font-size: 16px;
  font-family: 'Sora', sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ccc;
  padding: 10px 20px;
  margin-bottom: 40px;
  transition: background-color 0.3s ease;
}


#resume:hover{
  background-color: #4c8bf5;
}


.endBtn {
  width: 600px;
  background-color: #4c8bf5; 
  border-radius: 24px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: filter 0.3s ease;font-family: 'Sora', sans-serif;
  margin-top: 20px;
}


.endBtn:hover{
  filter: brightness(90%);
}

